{% extends 'todo/base/base.html' %}

{% block content %}
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card px-3">
                        <div class="card-body card-home">
                            <h2>Thank you for your email confirmation.</h2>
                            <p>Now you can login your account. <a href="{% url 'login' %}">Sign in</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}