{% extends 'todo/base/base.html' %}
{% block title %}My ToDo List{% endblock %}

{% block content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">Welcome, {{ user.username }} !!!</h4>
                        <div class="add-items d-flex">
                            <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
                            <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button>
                        </div>
                        <div class="list-wrapper">
                            {% csrf_token %}
                            <ul class="d-flex flex-column todo-list">
                                {% for task in uncompleted_tasks %}
                                    <li value="{{ task.pk }}">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox">
                                                <i class="input-helper"></i>
												<p>{{ task.text }}</p>
                                            </label>
                                        </div>
                                        <i class="remove fas fa-times"></i>
                                    </li>
                                {% endfor %}
                                {% for task in completed_tasks %}
                                    <li value="{{ task.pk }}" class="completed">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox" checked="checked">
                                                <i class="input-helper"></i>
                                                <p>{{ task.text }}</p>
                                            </label>
                                        </div>
                                        <i class="remove fas fa-times"></i>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}